*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.navigation{
  background: #202740;
  padding: 10px;
}
.App-logo{
  width: 160px;
}
.common_container{
  max-width: 1200px;
  margin: 0 auto;
}
.common_heading{
  font-size: 26px;
  padding: 20px 0;
  color: #2c416c;
}
.common_container .nav-tabs{
  margin-bottom: 30px;
}
.common_container .nav-tabs a{
  color: #556689;
  font-size: 18px;
}
.common_container .nav-tabs a.active{
  font-size: 16px;
  color: #82a516;
  border: none;
  border-bottom: 5px solid #82a516;
  font-size: 300;
}
.common_container .nav-link{
  padding: 15px 35px;
}
.tabs{
  border-bottom: 3px solid #ccc;
}
.tabs .tab a{
  font-size: 16px;
  color: #556689;
}
.data_container{
  box-shadow: 0px 0px 6px #cccc;
  border-radius: 3px;
}
.data-table .active{
  background: #fff;
}
.data-table tr{
  cursor: pointer;
}
.data-table th{
  border: none;
  background: #f1f1f4;
  color: #556689;
  text-transform: uppercase;
}
.data-table tbody{
  background: #fff;
}
.camp_date{
  color: #2c416c;
  font-size: 16px;
  background: transparent;
  padding: 0;
  font-weight: 400;
}
.days_ago{
  font-size: 14px;
  background: transparent;
  font-style: italic;
  color: #7f8fa9;
  padding: 0;
  font-weight: 300;
}
.internal_table td{
  border: none;
  padding: 0;
}
.game{
  width: 50px;
}
.gameName{
  color: #556689;
  font-size: 16px;
  background: transparent;
  padding: 0;
  font-weight: 300;
}
.padding-l10{
  padding-left: 10px !important;
}
.country_name{
  font-size: 14px;
  background: transparent;
  font-style: italic;
  color: #7f8fa9;
  padding: 0;
  font-weight: 300;
}
.other_img{
  width: 30px;
  margin-right: 8px;
}
.other_text{
  color: #7788a3;
  font-weight: 300;
  font-size: 14px;
  padding-top: 20px !important;
}
.csv{
  width: 24px;
}
/*Popup*/
.modal-content{
  border-radius: 0;
}
.popup_app_details{
  display: flex;
  align-items: flex-end;
}
.margin-0{
  margin: 0;
}
.app_name_detail{
  padding-left: 10px;
}
.popup_app_details img.game_img{
  width: 170px;
}
.app_name_detail .country_name{
  font-style: normal;
}
.common_heading_2{
  font-size: 26px;
  margin-top: 20px;
  color: #2c416c;
  font-weight: 500;
}
.app_price_detail{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app_price_detail .time{
  color: #7788a3;
  font-size: 18px;
  font-weight: 300;
}
.app_price_detail .price{
  color: #556689;
  font-size: 18px;
  font-weight: 500;
}
.btn_container{
  text-align: center;
}
.close_btn{
  border: 3px solid #191c34;
  padding: 10px 30px;
  background: transparent;
  color: #191c34;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}